body{
	background-image:url("back.jpg");
	background-attachment:fixed;	
    overflow-x:hidden;	
}
.logo{
	margin-top:10px;
	margin-bottom:3px;
	height:30px;
	width:30px;
}
#active{
	color:#fff;
}
#searchbar{
	height:35px;
	border-radius:5px 0px 0px 5px;;
}	
#searchbar-button{
	height:35px;
}  
.main-content{
    width:100%;
	height:100%;
	margin:auto;
}
.btn-container{
	padding-left:38%;
	margin-top:50px;
	padding-top:40px;
}
.btn-btn-default{
    background-color:#333;
	border:1px solid #262626;
}
.btn-btn-default:hover{
	background-color:#404040;
	border:1px solid #262626;
}
.row{
	display:flex;
}

.row-top{
	margin-top:50px;
	padding-top:50px;
}

.element{
	display:none;
	margin:auto;
	border:1px solid #b3b3b3;
	border-radius:8px;
	background-color:#333333;
	height:200px;
	width:200px;
}

.element p{
	color:#fff;
	font-size:18px;
	text-align:center;
	padding-top:40%;
}

.mobile-text{
	margin-top:80px; 
	text-align:center;
	display:none;
}
h1{
	display:none;
}
@media (max-width:767px){
	.btn-container{
		display:none;
	}
	.row{
	    flex-direction:column;
	}
	.element{
		display:block;
	    margin:auto;
	    margin-top:70px;
	}
	.element-2,.element-3,.element-4{
	    display:none;
	}
	.mobile-text{
	    display:block;
    }
}